.dev {
    background-color: #000000;

    > .row {
        gap: var(--space-1x);
    }

    button,
    select {
        background-color: #000000;
        color: #fce664;
        padding: var(--space-1x);
        border-radius: 4px;
        font-size: var(--fs-caption);
        font-family: monospace;
        transition: all 200ms;
        cursor: pointer;

        &:hover,
        &:active {
            background-color: #111111;
            color: #ffe432;
            font-weight: bold;
        }
    }
}

section.dev {
    margin-bottom: 0;
    padding: var(--space-1x);
}
