.dev {
    background-color: #5900d5;

    > .row {
        gap: var(--space-1x);
    }

    button,
    select {
        background-color: #fce664;
        padding: var(--space-1x);
        border-radius: 4px;
        font-size: var(--fs-caption);
        font-family: monospace;
        transition: all 200ms;

        &:active {
            background-color: #ffe432;
        }
    }
}

section.dev {
    margin-bottom: 0;
    padding: var(--space-1x);
}
