@forward "./index";
@forward "ts/ui";
@use "./element";

html {
    color: var(--on-background);
    background-color: var(--background);
}

body {
    color: var(--on-background);
    background-color: var(--background);
    margin: 0;
    padding: 0;
    font-size: var(--fs-default);
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    width: 64ch;
    height: max-content;
}

main {
    padding: 1ch;
    overflow: hidden;
}

a,
a:visited {
    @include element.anchorStyle;
}

p {
    margin-block: 0.5em;
}

section {
    margin-bottom: 2rem;

    &:empty {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: var(--text-secondary);
}
::-webkit-scrollbar-thumb {
    background-color: var(--text-secondary);
}

::selection {
    background-color: var(--on-surface);
    color: var(--surface);
}

button {
    @include element.buttonStyle;
}

option {
    padding: var(--space-half);
}

img {
    border-radius: var(--border-radius-small);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-block: 0;
    font-weight: normal;
}
