@use "./hover";

@mixin anchorStyle {
    display: inline-block;
    color: var(--vibrant);
    text-decoration: none;
}

@mixin buttonStyle {
    @extend %hover;
    font-size: inherit;
    cursor: pointer;
    background: none;
    border: none;
    margin-inline: 0;
    padding-inline: 0;

    color: var(--text-secondary);
}
