@use "./animation";
%hover {
    transition:
        background-color animation.$duration-short,
        borderr-radius animation.$duration-short;

    &:hover {
        background-color: var(--hover);
    }
}

%hover-children {
    background: none;
    > * {
        transition:
            background-color animation.$duration-short,
            borderr-radius animation.$duration-short;
    }

    &:hover > * {
        background-color: var(--hover);
    }
}
