@use "./animation";

@mixin hover($-color: var(--hover)) {
    transition:
        background-color animation.$duration-short,
        borderr-radius animation.$duration-short;

    &:hover {
        background-color: $-color;
    }
}

%hover {
    @include hover;
}

%hover-children {
    background: none;

    > * {
        @include hover;
    }
}
