:root {
    --fs-h1: 30px;
    --fs-h2: 28px;
    --fs-h3: 26px;

    --fs-large: 24px;
    --fs-default: 20px;
    --fs-caption: 16px;
}

%caption {
    font-size: var(--fs-caption);
    letter-spacing: 0.1ch;
    font-weight: bold;
}
%text-block {
    white-space: pre-line;
    line-height: 1.2;
}

@mixin line-clamp($lines) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    line-clamp: $lines;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}
