:root {
    --border-radius-small: 6px;
    --border-radius-medium: 10px;
}

$border-style: 2px solid var(--vibrant);

@mixin border-left {
    border-left: $border-style;
    padding-left: var(--space-1x);
}
%border-left {
    @include border-left;
}
