#dialog_scrim {
    transition: background-color 200ms;

    &[data-visible="true"] {
        position: absolute;
        inset: 0;

        background-color: var(--scrim);
        z-index: 100000;
    }
}

dialog {
    z-index: 1000000;
    padding: 0;
    border: none;
    border-radius: var(--border-radius-medium);
}
