#dialog_scrim {
    transition: background-color 200ms;

    &[data-visible="true"] {
        position: absolute;
        inset: 0;

        background-color: var(--scrim);
        z-index: var(--elevation-dialog-scrim);
    }
}

#dialog_container:not(:empty) {
    position: absolute;
    inset: 0;

    dialog {
        min-width: 80vw;
        inset: 0;
        z-index: var(--elevation-dialog);
        padding: 0;
        border: none;
        border-radius: var(--border-radius-medium);
        background: none;
    }
}
