$space: 8px;
:root {
    --space-half: #{calc($space * 0.5)};
    --space-1x: #{calc($space)};
    --space-1-5x: #{calc($space * 1.5)};
    --space-2x: #{calc($space * 2)};
    --space-3x: #{calc($space * 3)};
    --space-4x: #{calc($space * 4)};
}
