:root {
    --fs-h1: 30px;
    --fs-h2: 28px;
    --fs-h3: 24px;

    --fs-large: 22px;
    --fs-default: 17px;
    --fs-caption: 13px;
}

%caption {
    font-size: var(--fs-caption);
    letter-spacing: 0.1ch;
    font-weight: bold;
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}
