:root {
    --fs-500: 22px;
    --fs-400: 20px;
    --fs-300: 18px;
    --fs-200: 16px;
    --fs-100: 14px;

    --fs-h1: 30px;
    --fs-h2: 28px;
    --fs-h3: 26px;

    --fs-caption: var(--fs-100);
    --fs-default: var(--fs-200);
}

%caption {
    font-size: var(--fs-caption);
    letter-spacing: 0.1ch;
    font-weight: bold;
}
