:root {
  --fs-400: 18px;
  --fs-300: 16px;
  --fs-100: 14px;

  --fs-caption: 12px;

  --fs-h1: 38px;
  --fs-h2: 34px;
  --fs-h3: 30px;
  --fs-h4: 28px;
  --fs-h5: 26px;
  --fs-h6: 24px;
}


@mixin caption() {
  font-size: var(--fs-caption);
  letter-spacing: 0.1ch;
  font-weight: bold;
}
