$max_card_width: 1200px;
$max_preview_width: 480px;
$card_title_size: 1.3em;
$card_title_size_large: 1.8em;

.card {
    max-width: $max_card_width;
    // width: 100%;
    height: auto;
    background: var(--card-background);
    margin: 0 0 16px 0;
    padding: 16px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
    transition: all 300ms ease-in-out;
}

.card.fragment {
    margin: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
}

.card.fragment-container {
    background: transparent;
    box-shadow: none;
    padding: 0;
}

// Raise card when active
.card:active {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12),
        0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
.card_title {
    font-size: $card_title_size;
}
.card_title_padded {
    font-size: $card_title_size;
    padding-bottom: 16px;
}
.card_title_large {
    font-size: $card_title_size_large;
}
.card_title_area {
    padding: 12px 16px;
}
.card_title_area_raised {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    background: var(--card-header-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
        0 3px 1px -2px rgba(0, 0, 0, .2),
        0 1px 5px 0 rgba(0, 0, 0, .12);
}
    
.card_content {
    padding:6px 12px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    transition: padding 300ms;
}

// Add space between paragraphs
.card_p {
    padding-bottom: 8px;
}
.card-section {
    padding-bottom: 16px;
}

.card_image {
    max-width: $max_card_width;
    height: 240px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// Apply to images to make them fill the full card width, overriding any intrinsic padding of the card
.fullbleed {
    
}

.card_timestamp {
    text-align: right;
    font-size: 0.8em;
    margin-bottom: 0;
    line-height: 1.4;
}

// A container for one or more card. The container is usually invisible
.card_container {
    display: flex;
    justify-content: center;
}

.preview {
    max-width: 480px !important;
}

.card.preview {
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 550px) {   
    .card {
        margin: 8px 8px 16px 8px;
    }
    .card_content {
        padding: 12px 16px;
    }
    .preview {
        max-width: 320px !important;
    }
}

@media screen and (min-width:800px) {
    .card_content:not(.preview) {
        padding: 12px 24px;
    }
}

@media screen and (min-width:1120px) {
    .card:not(.preview) {
        padding:24px 72px;
    }
    .card_image {
        height: 280px;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
    }
    .fullbleed {
        margin:-24px -72px;
    }
    .card_title_area_raised {
        padding:12px 96px;
    }
}