.dropdown-icon {
    padding: 4px;
    width: 16px;
    height: 16px;
    outline: none;
    fill: var(--text-secondary);
    transform: rotate(0deg);
    transition: transform 300ms;
}

.dropdown-icon.showdrop {
    transform: rotate(-180deg);
}

.dropdown-content {
    height: 0px;
    opacity: 0;
    padding: 0;
    transition: height 300ms;
    animation: dropdown_hide 130ms;
    overflow: hidden;
}

.dropdown-content.showdrop {
    height: auto !important;
    opacity: 1;
    border-left: var(--text-secondary) 2px solid;
    padding: 8px 8px 8px 16px;
    margin: 4px 0 16px 0;
    animation: dropdown_show 300ms;
}

@keyframes dropdown_hide {
    0% {
        opacity: 1;
        padding: 8px 8px 8px 16px;
        margin: 4px 0 16px 0;
    }
    100% {
        opacity: 0;
        padding: 0;
        margin: 0;
    }
}

@keyframes dropdown_show {
    0% {
        opacity: 0;
        padding: 0;
        margin: 0;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        padding: 8px 8px 8px 16px;
        margin: 4px 0 16px 0;
    }
}