$primary_image_size: 160px;
$secondary_image_size: $primary_image_size * 0.4;

$icon_size: 20px;
$affiliate_image_size: 48px;

$hentry_text_width: 370px;

// An icon that appears in the top corner to
// show what type of data the card contains
.card-type-icon {
    width: $icon_size;
    height: $icon_size;
    fill: var(--text-tertiary);
    padding-bottom: 8px;
}

.hcard-image-container {
    width: $primary_image_size;
    margin: auto;
}

.hcard-image {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.hcard-image.primary {
    width: $primary_image_size;
    height: $primary_image_size;
}

.hcard-image.secondary {
    width: $secondary_image_size;
    height: $secondary_image_size;
    margin-top: -$secondary_image_size;
    right: 0;
    margin-left: auto;
}

.hcard-image.affiliate {
    width: $affiliate_image_size;
    height: $affiliate_image_size;
    margin-left: 0;
    margin-right: 16px;
    font-size: $affiliate_image_size;
    justify-content: center;
    display: flex;
    flex-direction: column;
    color: var(--text-secondary);
    fill: var(--text-secondary);
}

.h-section-label {
    color: var(--primary-color);
    font-weight: 900;
    font-size: 0.75em;
}

.h-title {
    padding-bottom: 4px;
}

.h-item-label {
    color: var(--primary-color);
    font-size: 0.75em;
    padding-right: 8px;
}

.h-item-icon {
    padding: 4px 8px 4px 0;
    width: $icon_size;
    height: $icon_size;
    fill: var(--text-secondary);
}

.h-item-icon.nofill {
    fill: none;
    stroke: var(--text-secondary);
    stroke-width: 3px;
}

.h-item-icon.inline {
    padding: 0px;
}

.hcard-affiliate {
    margin: 0 0 4px 0;
    padding: 8px;
}

.hcard-affiliate-text {
    border-left: var(--text-secondary) 2px solid;
    padding-left: 8px;
}

.hentry-title {
    text-overflow: ellipsis;
    width: $hentry_text_width;
    overflow: hidden;
    white-space: nowrap;
}

.hentry-dates {
    padding-left: 8px;
    line-height: $icon_size;
}

.hentry-subtitle {
    font-size: 0.8em;
    line-height: normal;
    width: $hentry_text_width;
}

.hentry-author {
    color: var(--text-secondary);
}

.hentry-category {
    padding-left: 4px;
}