// Override the standard mdl styles

.mdl-layout__content {
    margin: 0px !important;
}
.mdl-layout__header-row .mdl-navigation__link {
    color: var(--header-text-color);
}
.mdl-layout__header {
    background: var(--header-background-color);
}
.mdl-navigation__link {
    height: $header_second_row_height !important;
    line-height: $header_second_row_height !important;
}
.mdl-navigation__link:hover {
    height: $header_second_row_height;
    background: var(--header-background-color-hover);
}
//.mdl-textfield.is-invalid .mdl-textfield__input {
//    border-color:var(--accent-color) !important;
//}
.mdl-button {
    font-family: $font !important;
}
//.mdl-menu {
//    overflow: scroll;
//}
//.mdl-list__item, .mdl-menu__item {
//    padding: 4px 16px;
//}
.mdl-menu__item {
    height: 24px !important;
    line-height: 24px !important;
}
.mdl-list__item, .mdl-menu__item {
    color: var(--text-secondary) !important;
    padding: 4px 16px !important;
}
.mdl-menu__item:hover {
    background: var(--card-background-hover) !important;
    color: var(--text-primary) !important;
}
.mdl-menu__outline {
    background: var(--card-background) !important;
}

.mdl-textfield__input {
    border-bottom: 1px solid var(--card-separator) !important;
}

// .mdl-tooltip {
    // min-width: 300px !important;
// }