// Variables that may appear in multiple stylesheets

$header_padding_left: 16px;
$header_second_row_height: 36px;
$font: 'Open Sans', sans-serif;
$debug_alpha: 0.4;
$main_content_max_width: 1030px;

$transition_duration: 300ms;