@use "styles";
@use "styles/animation";

.expandable-card--label {
    font-size: var(--fs-caption);
    font-family: monospace;
}
.expandable-card {
    button.expandable-card--toggle {
        display: block;
        width: stretch;
        font-size: var(--fs-large);
        background: none;

        .dropdown-button--content {
            @extend %hover-children;

            .dropdown-icon {
                border-radius: var(--border-radius-small);
                padding: var(--space);
            }
        }
    }

    .summary {
        &[data-visible="true"] {
            animation-name: expandSummary;
        }

        &[data-closing="true"] {
            animation-name: collapseSummary;
        }
    }

    .detail {
        &[data-visible="true"] {
            animation-name: expandDetail;
        }

        &[data-closing="true"] {
            animation-name: collapseDetail;
        }

        .property:has(.p-name) {
            justify-content: center;
        }
    }

    .summary,
    .detail {
        animation-duration: animation.$duration-long;
        animation-fill-mode: both;
        animation-timing-function: ease-in-out;

        &[data-closing="false"][data-visible="false"] {
            display: none;
        }
    }
}

@keyframes collapseSummary {
    0% {
        @include animation.opaque;
    }
    40% {
        @include animation.transparent;
    }
    100% {
        @include animation.transparent;
        @include animation.zero-width;
        @include animation.zero-height;
    }
}

@keyframes expandSummary {
    0% {
        @include animation.transparent;
        @include animation.zero-width;
        @include animation.zero-height;
    }
    60% {
        @include animation.transparent;
    }
    100% {
        @include animation.opaque;
    }
}

@keyframes collapseDetail {
    0% {
        @include animation.opaque;
    }
    40% {
        @include animation.transparent;
    }
    100% {
        @include animation.transparent;
        @include animation.zero-height;
    }
}
@keyframes expandDetail {
    0% {
        @include animation.transparent;
        @include animation.zero-height;
    }
    60% {
        @include animation.transparent;
    }
    100% {
        @include animation.opaque;
    }
}
