@use "styles/animation";
@use "./card";

.tooltip-root {
    $animation-duration: animation.$duration-short;
    $max-width: 100ch;
    $max-height: $max-width;
    position: relative;
    cursor: default;
    transition: background-color $animation-duration;

    .tooltip {
        @include card.card(var(--tooltip-surface), var(--on-tooltip-surface));
        cursor: default;
        margin-block: 0;
        border-radius: var(--border-radius-small);
        position: absolute;
        transform-origin: top center;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: $max-width;
        max-height: 0;
        width: max-content;
        opacity: 0;
        z-index: var(--elevation-tooltip);
        transition:
            opacity $animation-duration,
            scale $animation-duration;
    }

    &:hover {
        background-color: var(--tooltip-surface);

        .tooltip {
            padding: var(--space);
            opacity: 1;
            max-height: $max-height;
        }
    }
}
