@use "styles";

button .dropdown-icon {
    margin-left: var(--space-1x);
    cursor: pointer;
    transition: all 200ms;

    &:first-child {
        margin-left: 0;
    }

    &[data-expanded="true"] {
        transform: rotate(180deg);
    }
}

@mixin dropdownContentHidden {
    opacity: styles.$opacity-zero;
    max-height: 0;
}
@mixin dropdownContentVisible {
    @include styles.border-left;
    opacity: 1;
    max-height: styles.$max-height;
}

.dropdown {
    width: stretch;
    transition: margin styles.$duration-long, padding styles.$duration-long;

    .dropdown-header {
        display: flex;
        flex-direction: row;
        width: stretch;
        justify-content: left;
        font-size: var(--fs-h3);
        vertical-align: middle;
        align-items: center;
        cursor: pointer;
        margin-inline: 0;
        padding-inline: 0;
        background: none;
        border: none;
    }

    &[data-expanded="true"] {
        margin-block: var(--space-1-5x);
    }

    .dropdown-content {
        overflow-y: clip;
        margin-block: var(--space-half);

        &[data-expanded="true"] {
            animation: showContent styles.$duration-long both;
        }

        &[data-closing="true"] {
            animation: hideContent styles.$duration-long both;
        }

        &[data-expanded="false"][data-closing="false"] {
            @include dropdownContentHidden;
            display: none;
        }

        &:empty {
            display: none;
        }
    }

    .dropdown-icon {
        cursor: pointer;
    }

    &:has(.dropdown-content:empty) {
        .dropdown-header {
            cursor: default;
        }
        .dropdown-icon {
            display: none;
        }
    }
}

@keyframes showContent {
    0% {
        @include dropdownContentHidden;
    }
    30% {
        opacity: styles.$opacity-zero;
    }
    60% {
        max-height: styles.$max-height;
    }
    100% {
        @include dropdownContentVisible;
    }
}

@keyframes hideContent {
    0% {
        @include dropdownContentVisible;
    }
    30% {
        opacity: styles.$opacity-zero;
    }
    100% {
        @include dropdownContentHidden;
    }
}
