@use "styles";
@use "styles/typography";

.quick-link {
    @extend %hover;
    font-size: var(--fs-h2);
    margin-inline: var(--space-2x);
    padding: 6px;

    color: var(--vibrant);

    .icon {
        @include styles.fixedSize(32px);
        cursor: pointer;
    }

    .quick-link--title,
    .quick-link--subtitle {
        @extend %caption;
        text-align: center;
        max-lines: 1;
        max-width: 13ch;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .quick-link--subtitle {
        font-size: smaller;
    }
}

.related-link {
    a {
        @extend %single_line;
        max-width: 40ch;
    }

    .related-link--meta {
        font-size: var(--fs-caption);
    }
}
