@use "styles";
@use "styles/animation";

$avatar-size-small: 128px;
$pip-size-small: 24px; // Picture-in-picture size, used for logo if photo and logo both available

$avatar-size-large: 150px;
$pip-size-large: 32px; // Picture-in-picture size, used for logo if photo and logo both available

/**
 * Avatar animation
 */
@mixin avatarCollapsed {
    width: $avatar-size-small;
    height: $avatar-size-small;
    left: 0;
    transform: translateX(0);
    margin-right: var(--space-2x);
}
@mixin avatarMidpoint {
    width: $avatar-size-large;
    height: $avatar-size-large;
    left: 0;
    transform: translateX(0);
}
@mixin avatarExpanded {
    width: $avatar-size-large;
    height: $avatar-size-large;
    left: 50%;
    transform: translateX(-50%);
    padding: var(--space-3x);
}
@mixin avatarSize($primary, $secondary) {
    > img:first-child {
        @include styles.size($primary);
    }

    > img:nth-child(2) {
        @include styles.size($secondary);
    }
}

%hcard-text-large {
    font-size: var(--fs-h1);
}

%hcard-text-medium {
    font-size: var(--fs-default);
}

%hcard-text-small {
    font-size: var(--fs-100);
}

.hcard-wrapper {
    background-color: var(--surface);
    color: var(--on-surface);
    margin-block: var(--space-1x);
    border-radius: var(--border-radius-medium);
    box-shadow: rgba(9, 30, 66, 0.25) 0 1px 1px,
        rgba(9, 30, 66, 0.13) 0 0 1px 1px;

    :has(> [data-expanded="true"]) {
        margin-block: var(--space-2x);
    }
}

.h-card {
    padding: var(--space-1x);

    &[data-expanded="true"] {
        .avatar {
            animation-name: avatarGrow;
            animation-duration: animation.$duration-long;
            animation-fill-mode: both;
            @include avatarSize($avatar-size-large, $pip-size-large);
        }

        .hcard-summary {
            @include animation.collapseHorizontal;
        }

        .detail-wrapper {
            @include animation.expandVertical;
        }
    }

    &[data-expanded="false"][data-is-interacted-with="false"] {
        .avatar {
            @include avatarCollapsed;
            @include avatarSize($avatar-size-small, $pip-size-small);
            @include styles.size($avatar-size-small);
        }

        .detail-wrapper {
            display: none;
        }
    }

    &[data-expanded="false"][data-is-interacted-with="true"] {
        .avatar {
            animation-name: avatarShrink;
            animation-duration: animation.$duration-long;
            animation-fill-mode: both;
            @include avatarSize($avatar-size-small, $pip-size-small);
        }

        .hcard-summary {
            @include animation.expandHorizontal;
        }

        .detail-wrapper {
            @include animation.collapseVertical;
        }
    }

    .p-name {
        @extend %hcard-text-large;
    }

    .banner {
        // Avatar + summary
        position: relative;
        align-items: start;
    }

    .hcard-detail {
        margin: var(--space-2x);
    }

    .dropdown-header {
        font-size: var(--fs-200);
        line-height: 1.5;
        margin-block: var(--space-1x);
        transition: margin animation.$duration-short;

        &[data-expanded="false"] {
            margin-block: 0;
        }
    }
}

#hcard_toggle_detail {
    display: block;
    font-size: var(--fs-500);
    text-align: center;

    .dropdown-icon {
        display: block;
        width: -webkit-fill-available;
        margin: 0;
        cursor: pointer;

        &[data-expanded="true"] {
            transform: rotateX(180deg);
        }
    }
}

@keyframes avatarGrow {
    0% {
        @include avatarCollapsed;
    }

    33% {
        @include avatarMidpoint;
    }

    100% {
        @include avatarExpanded;
    }
}
@keyframes avatarShrink {
    0% {
        @include avatarExpanded;
    }

    66% {
        @include avatarMidpoint;
    }

    100% {
        @include avatarCollapsed;
    }
}
