@use "styles";

$avatar-size: 128px;
$pip-size: 24px; // Picture-in-picture size, used for logo if photo and logo both available

.h-card {
    color: var(--on-surface);
    background-color: var(--surface);
    padding: var(--space-1x);
    margin-block: var(--space-2x);
    align-items: start;

    .hcard-summary {
        margin-block: var(--space-1x);
        text-align: left;
        flex-grow: 10;
        @include styles.caption;
    }

    .hcard-detail {
        margin-block: var(--space-1x);
        text-align: left;
        flex-grow: 10;

        .p-name {
            font-size: var(--fs-500);
        }

        .dropdown-header.h-adr {
            font-size: var(--fs-100);
        }
    }
}

.hcard-avatar {
    display: inline-flex;
    position: relative;
    width: $avatar-size;
    height: $avatar-size;
    border-radius: var(--border-radius-medium);
    margin-right: var(--space-1x);

    > img:first-child {
        width: $avatar-size;
        height: $avatar-size;
        border-radius: var(--border-radius-medium);
    }

    > img:nth-child(2) {
        position: absolute;
        object-fit: contain;
        width: $pip-size;
        height: $pip-size;
        bottom: 0;
        right: 0;
        margin: var(--border-radius-small);
        border-radius: var(--border-radius-small);
        border: 1px solid var(--text-light-secondary);
    }
}

#hcard_toggle_detail {
    display: block;
    font-size: var(--fs-500);
    text-align: center;

    .dropdown-icon {
        display: block;
        width: -webkit-fill-available;
        margin: 0;
        cursor: pointer;

        &[data-expanded="true"] {
            transform: rotateX(180deg);
        }
    }
}
