@use "styles/typography";

.property {
    display: flex;
    margin-block: var(--space-half);
    align-items: center;
    white-space: nowrap;

    .property-name {
        @extend %caption;
        margin-right: var(--space-1x);

        &::after {
            content: ":";
        }

        &:empty {
            display: none;
        }
    }

    .property-icon {
        margin-right: var(--space-half);
        opacity: 0.6;
    }
}

table.properties {
    border-collapse: collapse;
    margin-bottom: var(--space-1x);

    td {
        vertical-align: baseline;
        padding-bottom: var(--space-half);

        &:empty {
            display: none;
        }

        &:not(:empty) {
            padding-right: 1ch;
        }
    }
    tr.property {
        display: table-row;
    }

    .property-value-multi {
        display: block;

        &:not(:last-child) {
            padding-bottom: 4px;
        }
    }
}
