@use "../../styles/typography";

.property {
  margin-block: var(--space-half);
  align-items: center;

  .property-name {
    @include typography.caption;
    margin-right: var(--space-1x);

    &::after {
      content: ":"
    }

    &:empty {
      display: none;
    }
  }

  .property-value {
    font-size: var(--fs-100);
  }

  .property-icon {
    margin-right: var(--space-half);
  }
}

table.properties {
  border-collapse: collapse;
  margin-bottom: var(--space-1x);
}
