@use "styles/index";

.dropdown-icon {
    @extend %hover;
    width: 1em;
    height: 1em;
    line-height: 1em;
    transition: all 200ms;
    margin-left: var(--space-1x);
    cursor: pointer;

    &[data-expanded="true"] {
        transform: rotate(180deg);
    }
}

.dropdown {
    width: -webkit-fill-available;

    &[data-expanded="true"] {
        .dropdown-content:not(:empty) {
            padding-bottom: var(--space-2x);
        }
    }

    &[data-expanded="false"] {
        .dropdown-content {
            max-height: 0;
            opacity: 0;
            overflow-y: clip;
        }
    }

    .dropdown-header {
        display: flex;
        flex-direction: row;
        justify-content: left;
        font-size: var(--fs-h5);
        vertical-align: middle;
        align-items: center;
        cursor: pointer;
    }

    .dropdown-content {
        transition: all 200ms ease-in, opacity 200ms;
        max-height: 100vh;
        height: max-content;

        &:empty {
            display: none;
        }
    }

    &:has(.dropdown-content:empty) {
        .dropdown-header {
            cursor: default;
        }
        .dropdown-icon {
            display: none;
        }
    }
}
