@use "../styles";
@use "../styles/colors";
@use "../styles/borders";

.dropdown {
  width: stretch;
  margin-bottom: 1ch;

  &[data-expanded=true] {
    .dropdown-icon {
      transform: rotate(180deg);
    }

    &:not(:empty) {
      padding-bottom: var(--space-2x);
    }
  }

  &[data-expanded=false] {
    .dropdown-content {
      max-height: 0;
      opacity: 0;
      overflow-y:clip;
    }
  }

  .dropdown-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    font-size: var(--fs-h5);
    vertical-align: middle;
    align-items: center;
  }

  .dropdown-icon {
    @extend %hover;
    width: 1em !important;
    height: 1em !important;
    line-height: 1em !important;
    transition: all 200ms;
    margin-left: var(--space-1x);
  }

  .dropdown-content {
    transition: all 200ms ease-in, opacity 200ms;
    max-height: 100vh;
    height: max-content;

    &:empty {
      display: none;
    }
  }

  &:has(.dropdown-content:empty) {
    .dropdown-icon {
      display: none;
    }
  }
}
