.material-icons {
  cursor: default !important;
  display: inline-flex !important;
  user-select: none !important;
  font-size: inherit !important;
  line-height: inherit !important;
  vertical-align: middle !important;
  aspect-ratio: 1 !important;
}
