.material-symbols-outlined.icon {
    cursor: default;
    display: inline-flex;
    user-select: none;
    font-size: inherit;
    line-height: 1em;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}
