.material-symbols-outlined {
  cursor: default;
  display: inline-flex;
  user-select: none;
  font-size: inherit !important;
  line-height: inherit !important;
  vertical-align: middle !important;
}
