@use "styles/borders";
@use "styles/element";
@use "styles/size";
@use "styles/typography";

.property {
    margin-block: var(--space-half);
    align-items: center;

    .property-name {
        @extend %caption;
        margin-right: var(--space-1x);

        &::after {
            content: ":";
        }

        &:empty {
            display: none;
        }
    }

    svg.property-icon {
        opacity: 0.6;
    }
    img.property-icon {
        @include size.fixedSize(1em);
    }

    &[data-clickable="true"] .property-value {
        @include element.buttonStyle;
        @include borders.border-clickable;
        color: var(--text-primary);
    }
}

table.properties {
    tr {
        &:empty {
            height: 0;
        }

        &.group-end:not(:last-child) {
            height: var(--space-half);
        }
    }

    td {
        vertical-align: baseline;
    }
}

.property-value-multi {
    display: block;
}
