@use "styles/borders";

.h-entry {
    @extend %border-left;

    .property {
        margin-block: 0;
    }

    .p-name {
        font-size: var(--fs-large);
    }

    &--metadata,
    &--interactions {
        font-size: var(--fs-caption);
    }
}
