@use "styles";

.h-entry {
    @extend %border-left;

    .property {
        margin-block: 0;
    }

    .p-name {
        font-size: var(--fs-large);
    }

    &--metadata,
    &--interactions {
        font-size: var(--fs-caption);
    }

    .property-value {
        &.p-name,
        &.p-summary,
        &.e-content {
            @include styles.line-clamp(2);
        }
    }
}
