@use "../../layout/card.scss";

.h-feed {
    .p-name {
        font-size: var(--fs-h2);
    }
}

.hfeed-about {
    .property[data-microformat="p-name"] {
        @extend %card-text-large;
    }
}

.h-entry {
    .dropdown-header {
        display: block;
    }

    .p-name {
        font-size: var(--fs-h3);
    }

    .p-summary {
        font-size: var(--fs-100);
    }

    .dt-published {
        font-size: var(--fs-caption);
    }

    .by-line {
        font-size: var(--fs-caption);
    }
}
