@use "../../layout/card.scss";

.h-feed {
    .dropdown-header {
        font-size: var(--fs-default);
    }

    .by-line {
        gap: 1ch;
    }
}

.h-entry {
    margin-block: var(--space-1x);
    border-left: 2px var(--accent) solid;
    padding-left: var(--space-1-5x);

    .property {
        margin-block: 0;
    }

    .p-name {
        font-size: var(--fs-large);
    }

    .dt-published {
        font-size: var(--fs-caption);
    }

    .by-line {
        font-size: var(--fs-caption);
    }
}
