@use "ts/ui/layout/card";

.h-feed {
    .dropdown-header {
        font-size: var(--fs-default);
    }

    .by-line {
        font-size: var(--fs-caption);
    }
}

.h-entry {
    @extend %border-left;
    margin-block: var(--space-1x);

    .property {
        margin-block: 0;
    }

    .p-name {
        font-size: var(--fs-large);
    }

    &--metadata {
        font-size: var(--fs-caption);
    }
}
